.straight{


  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__pre-title{
    width: 88px;
    height: 32px;
    border-radius: 64px;
    background-color: $yellow;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding: 6px 12px 4px 12px;
  }

  &__title{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Fraunces', serif;
    padding-top: 20px;
    padding-bottom: 29px;
  }

  &__desc{
    max-width: 574px;
    padding-bottom: 40px;
  }

  &__column-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 31px;
  }

  &__straight-icon{
    padding-bottom: 16px;
  }

  &__column-title{
    font-size: 20px;
    font-family: 'Fraunces', serif;
    padding-bottom: 17px;
  }

  &__column-text{
    max-width: 268px;
    color: $teal;
    line-height: 24px;
  }

  &__button-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}