.subscribe{

  position: relative;
  padding-bottom: 190px;

  &__yellow-holder{
    background-color: $yellow;
    border-radius: 48px;
    position: absolute;
    width: 1280px;
    max-width: 1280px;
    bottom: -230px;
  }

  &__title{
    color: $dark-blue;
    padding-top: 95px;
    padding-bottom: 25px;
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 698px;
    line-height: 48px;
    text-align: center;
  }

  &__text{
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: $dark-blue;
    max-width: 727px;
    padding-bottom: 30px;
  }

  &__subscribe-holder{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 19px;
  }

  &__subscribe{
    width: 363px;
    height: 41px;
    border-radius: 24px;
    border: 0;
    font-weight: 700;
    font-size: 18px;
    padding-left: 42px;
  }

  &__submit{
    cursor: pointer;
    border-radius: 64px;
    background-color: $dark-blue;
    width: 128px;
    color: white;
    font-weight: 700;

    &:hover{
      background-color: white;
      color: $dark-blue;
      transition: ease-in-out 0.2s;
      border: 0;
    }
  }

  &__disclaimer{
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 93px;
  }
}